[submodule "fcquic_chat"]
	path = fcquic_chat
	url = https://github.com/zeykafx/fcquic_chat.git
[submodule "multicast-quic"]
	path = multicast-quic
	url = git@forge.uclouvain.be:codetry/multicast-quic.git
[submodule "fcquic_relay"]
	path = fcquic_relay
	url = https://github.com/zeykafx/fcquic_relay.git
