evaluations/topologies/frrouting/__pycache__/*
evaluations/topologies/__pycache__/*
evaluations/venv/*

evaluations/tests/latency/bin/*
evaluations/tests/latency/logs/*

evaluations/graphs/__pycache__/*
evaluations/tests/latency/graphs/__pycache__/*

evaluations/tests/receivers/bin/*
evaluations/tests/receivers/logs/*
evaluations/tests/data/logs/*
evaluations/tests/data/bin/*

**/cert.crt
**/cert.key

fcquic_chat/logs/*
fcquic_chat/tcp_logs/*
fcquic_chat/baseline_logs/*
fcquic_chat/tquic_logs/*

fcquic_relay/logs/*
evaluations/grid5000/relay_eval_gre/generated_frr_configs/*
*.stdout
*.sqlog
.DS_Store
